# See https://help.github.com/ignore-files/ for more about ignoring files.
# compiled output
/frontend/dist/
/frontend/tmp/
# dependencies
/frontend/bower_components/
/frontend/node_modules/
# misc
/frontend/.env*
/frontend/.pnp*
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/
/frontend/libpeerconnection.log
/frontend/npm-debug.log*
/frontend/testem.log
/frontend/yarn-error.log
# ember-try
/frontend/.node_modules.ember-try/
/frontend/bower.json.ember-try
/frontend/package.json.ember-try
**/.vs
**/.vscode
**/bin
**/obj
# Vim
*.swp
# DS store
**/.DS_Store
# Server temp files
backend/Micip.API/Uploads/
backend/Micip.API/Protection/*.xml
backend/Micip.API/Protection/key*
**/*.feature.cs
# Local test files
*.deb
# Logs
*.log
.fake
.ionide