@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";

.login-input {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 30px 10px;
    background: #016aba;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.input-field {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    font-size: 15px;
    border-color: #016aba;
}

.input-checkbox {
    width: 20px;
    height: 20px;
}

#buttons-row {
    display: flex;
}

.login-button-container {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: white;
}

.input-label {
    margin-bottom: 3px;
}

#error-message {
    display: flex;
    justify-content: center;
}