<button class="button">
    <LinkTo @route="index" class="link">
        Home
    </LinkTo>
</button>
<div class="login-input"><Input @value={{this.username}} placeholder="username"></Input></div>
<div class="login-input"><Input @value={{this.password}} placeholder="password"></Input></div>
<div class="login-button-container"><button class="button" {{on "click" this.authenticate}}>Login</button></div>